@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: #5fe6ed;
}
.card {
  display: flex;
  margin-top: 20px;
  width: 70px;
  height: 120px;
  margin: 20px;
  border-radius: 5px;
}
.Suit1 {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  top: -4%;
  left: 5%;
}
.number {
  padding: 0px;
  margin: 0px;
  align-self: center;
  font-size: 20px;
  top: -5%;
  left: 0%;
}
.Suit2 {
  padding: 0px;
  margin: 0px;
  font-size: 30px;
  top: 2%;
  left: -5%;
  transform: rotate(180deg);
}
